<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command># set env variables
export JAVA_HOME=/opt/app/jdk1.8.0_101
export ANT_HOME=/opt/app/apache-ant-1.9.6
export MVN_HOME=/opt/app/apache-maven-3.3.9
export PATH=$JAVA_HOME/bin:$ANT_HOME/bin:$MVN_HOME/bin:/opt/app/protobuff-bin:$PATH
#HADDOP_MVN_LOCAL_REPO=/opt/appData/ciMavenRepos/hadoop
component=hbase
component_repo=https://github.com/apache/hbase.git
component_branch=rel/1.2.3
MVN_LOCAL_REPO=/opt/appData/ciMavenRepos/$component
mkdir -p $MVN_LOCAL_REPO
RESOURCE_DIR=/opt/appData/ciResources

#mkdir -p $MVN_LOCAL_REPO/org
#mkdir -p $MVN_LOCAL_REPO/org/apache
#cp -r $HADDOP_MVN_LOCAL_REPO/org/apache/hadoop $MVN_LOCAL_REPO/org/apache/ -f


if [ -d &quot;$component&quot; ]; then
  cd $component
  #git reset --hard
  #git clean -f
  #git pull --verbose
else
  git clone $component_repo -b $component_branch $component --verbose
fi


#copy resources
#mkdir -p $WORKSPACE/hadoop/hadoop-common-project/hadoop-kms/downloads
#cp -f $RESOURCE_DIR/apache-tomcat-6.0.44.tar.gz $WORKSPACE/hadoop/hadoop-common-project/hadoop-kms/downloads/
#mkdir -p $WORKSPACE/hadoop/hadoop-hdfs-project/hadoop-hdfs-httpfs/downloads
#cp -f $RESOURCE_DIR/apache-tomcat-6.0.44.tar.gz $WORKSPACE/hadoop/hadoop-hdfs-project/hadoop-hdfs-httpfs/downloads

cd $WORKSPACE/$component
# -Dhadoop.profile=3.0 -Dhadoop-three.version=3.0.0-SNAPSHOT
# Refer http://hbase.apache.org/book.html#build
mvn clean install -Phadoop-2.0 -Dhadoop-two.version=2.7.2 -DskipTests -Dprotoc.path=/opt/app/protobuff-bin/protoc -Dmaven.repo.local=$MVN_LOCAL_REPO
mvn -DskipTests package assembly:single -Dmaven.repo.local=$MVN_LOCAL_REPO -Phadoop-2.0 -Dhadoop-two.version=2.7.2



</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>**/target/*.tar.gz*</artifacts>
      <allowEmptyArchive>false</allowEmptyArchive>
      <onlyIfSuccessful>false</onlyIfSuccessful>
      <fingerprint>false</fingerprint>
      <defaultExcludes>true</defaultExcludes>
      <caseSensitive>true</caseSensitive>
    </hudson.tasks.ArtifactArchiver>
  </publishers>
  <buildWrappers/>
</project>